.loginsignup {
  width: 100%;
  height: 80vh;
  background: #fce3fe;
  padding-top: 100px;
}

.loginsignup-container {
  width: 580px;
  height: 600px;
  background: white;
  margin: auto;
  padding: 40px 60px;
}

.loginsignup-container h1 {
  margin: 20px 0px;
}

.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
}

.loginsignup-fields input {
  height: 72px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
}

.loginsignup-container button {
  width: 580px;
  height: 72px;
  color: white;
  background: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.loginsignup-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

.loginsignup-login span {
  color: #ff4141;
  font-weight: 500;
}

.loginsignup-agree {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 1280px) {
  .loginsignup-container {
    width: 500px;
    padding: 35px 50px;
  }

  .loginsignup-container button {
    width: 500px;
  }
}

@media (max-width: 1024px) {
  .loginsignup-container {
    width: 420px;
    padding: 30px 40px;
  }

  .loginsignup-container button {
    width: 420px;
  }

  .loginsignup-fields input {
    height: 65px;
    font-size: 16px;
  }

  .loginsignup-container button {
    height: 65px;
    font-size: 22px;
  }
}

@media (max-width: 800px) {
  .loginsignup-container {
    width: 360px;
    padding: 25px 30px;
  }

  .loginsignup-container button {
    width: 360px;
  }

  .loginsignup-fields input {
    height: 60px;
    font-size: 16px;
  }

  .loginsignup-container button {
    height: 60px;
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .loginsignup {
    padding-top: 50px;
  }

  .loginsignup-container {
    width: 80%;
    padding: 20px;
  }

  .loginsignup-container button {
    width: 100%;
  }

  .loginsignup-fields input {
    width: 80%;
    height: 55px;
    font-size: 14px;
  }

  .loginsignup-container button {
    height: 55px;
    font-size: 18px;
  }

  .loginsignup-login {
    font-size: 16px;
  }

  .loginsignup-agree {
    font-size: 12px;
  }
}
